{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": ["prettier"],
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}